#easyimgallery{
	text-align: center;
}

#easyimgallery ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

#easyimgallery li{
	display: inline;
	margin-right: 10px;
}

#easyimgallery li img{
	padding: 3px;
	background: #fff;
	border: 1px solid #ccc;
	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
	transition: all 0.8s ease;
	margin: 1%;
}
#easyimgallery li img:hover{
	opacity: 1;
	filter: alpha(opacity=100); /* For IE8 and earlier */
	cursor: pointer;
	transition: all 0.8s ease;
}